<template>
  <div class="page">
    <h3 class="page-title">Điều Khiển Thiết Bị</h3>
    <div class="device-container">
      <device-item :data="item" v-for="item in devices" :key="item.id"/>
    </div>
    <div class="device-info">
      <a-dropdown placement="bottomCenter">
        <a-button class="btn-type">{{this.isAuto ? 'Tự Động' : 'Thủ Công'}}</a-button>
        <a-menu slot="overlay" @click="handleMenuClick">
          <a-menu-item key="0">
            Thủ Công
          </a-menu-item>
          <a-menu-item key="1">
            Tự Động
          </a-menu-item>
        </a-menu>
      </a-dropdown>

      <div v-if="isAuto" v-bind:class="{'device-info-auto-input-container': isAuto}">
        <imput-list @on-set="onSetButtonClick"/>
      </div>

      <a-table class="device-info-table" :columns="columns" :data-source="devicesStatus" :pagination=false>
        <span slot="status" slot-scope="status">
          <p v-bind:class="{ 'status-on': status }">{{status ? 'Đang bật' : 'Đang tắt'}}</p>
        </span>
        <span slot="switcher" slot-scope="switcher, record">
          <a-button
            v-bind:class="{ 'btn-on': !switcher, 'btn-off': switcher }"
            @click="onSwitchClick(record)"
          >
            {{switcher ? 'Tắt' : 'Bật'}}
          </a-button>
        </span>
      </a-table>
    </div>
  </div>
</template>

<script>
  import DeviceItem from "./DeviceItem";
  import ImputList from "./ImputList";
  import {mapGetters} from 'vuex';
  import layout from '@/store/layout';

  const columns = [
    {
      title: 'STT',
      dataIndex: 'key',
      key: 'key',
    },
    {
      title: 'Chức Năng',
      dataIndex: 'name',
      key: 'name',
    },
    {
      title: 'Chân Arduno',
      dataIndex: 'port',
      key: 'port',
    },
    {
      title: 'Trạng Thái',
      dataIndex: 'status',
      key: 'status',
      scopedSlots: {customRender: 'status'},
    },
    {
      title: 'Bật/Tắt Thiết Bị',
      key: 'switcher',
      dataIndex: 'switcher',
      scopedSlots: {customRender: 'switcher'},
    },
  ];

  export default {
    data() {
      return {
        columns,
        isAuto: true,
        isFanOn: true,//quat
        isSewingMachineOn: true,//phun suong
        isWaterPumpOn: false,//bom nuoc
        isLightOn: false,//den
        isRoofOn: true,//mai che
        isTurnOnAll: false,
        isTurnOffAll: false,
      };
    },
    components: {
      DeviceItem,
      ImputList,
    },
    computed: {
      ...mapGetters(layout.namespace, {
        isMobile: layout.constants.GETTER_IS_MOBILE
      }),

      devices() {
        return [
          {
            id: 1,
            title: 'Nhiệt độ',
            value: 30,
            postFix: 'C',
            color: 'FF5C00',
            bgColor: '#FFF6F1',
            icon: 'MyIconTemperature',
          },
          {
            id: 2,
            title: 'Không khí',
            value: 66,
            postFix: '%',
            color: '1890FF',
            bgColor: '#F4FAFF',
            icon: 'MyIconMoisture',
          },
          {
            id: 3,
            title: 'Ẩm đất',
            value: 24,
            postFix: '%',
            color: '2D7D57',
            bgColor: '#EBFAF3',
            icon: 'MyIconSoilMoisture',
          },
          {
            id: 4,
            title: 'Ánh sáng',
            value: 180,
            postFix: 'Lux',
            color: 'F8C100',
            bgColor: '#FFFDD3',
            icon: 'MyIconSun',
          },
          {
            id: 5,
            title: 'Mái che',
            value: 180,
            postFix: 'Lux',
            color: 'B720A8',
            bgColor: '#F9EDFF',
            icon: 'MyIconRoofing',
          },
        ];
      },
      devicesStatus() {
        return [
          {
            key: '1',
            name: 'Điều khiển quạt',
            port: 32,
            status: this.isFanOn,
            switcher: this.isFanOn,
          },
          {
            key: '2',
            name: 'Điều khiển phun sương',
            port: 42,
            status: this.isSewingMachineOn,
            switcher: this.isSewingMachineOn,
          },
          {
            key: '3',
            name: 'Điều khiển bơm',
            port: 32,
            status: this.isWaterPumpOn,
            switcher: this.isWaterPumpOn,
          },
          {
            key: '4',
            name: 'Điều khiển đèn',
            port: 32,
            status: this.isLightOn,
            switcher: this.isLightOn,
          },
          {
            key: '5',
            name: 'Điều khiển mái che',
            port: 42,
            status: this.isRoofOn,
            switcher: this.isRoofOn,
          },
          {
            key: '6',
            name: 'Bật tất cả',
            port: 32,
            status: this.isTurnOnAll,
            switcher: this.isTurnOnAll,
          },
          {
            key: '7',
            name: 'Tắt tất cả',
            port: 32,
            status: this.isTurnOffAll,
            switcher: this.isTurnOffAll,
          },
        ];
      }
    },
    methods: {
      handleMenuClick(e) {
        this.isAuto = e.key !== '0';
      },
      onSwitchClick(device) {
        console.log(device.key + device.status);
        switch (device.key) {
          case '1':
            this.isFanOn = !device.status;
            break;
          case '2':
            this.isSewingMachineOn = !device.status;
            break;
          case '3':
            this.isWaterPumpOn = !device.status;
            break;
          case '4':
            this.isLightOn = !device.status;
            break;
          case '5':
            this.isRoofOn = !device.status;
            break;
          case '6':
            this.isTurnOnAll = !device.status;
            break;
          case '7':
            this.isTurnOffAll = !device.status;
        }
      },
      onSetButtonClick(data) {
        console.log(data);
      }
    },
    created() {
    }
  };
</script>

<style lang="scss" scoped>
  .page {
    background-color: #F5F8FD;
    padding: 22px;

    &-title {
      color: #5F5F5F;
    }

    .device-info {
      margin-top: 24px;
      background: #FFFFFF;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      overflow: hidden;
      border-radius: 14px;
      padding: 20px;

      &-auto-input-container {
        margin-top: 44px;
      }

      &-table {
        margin-top: 20px;

        p.status-on {
          color: #EC7F00;
        }

        .btn-on {
          color: #2D7D57;
          background-color: #C4F1DC;
          border-color: #C4F1DC;
          border-radius: 8px;
        }

        .btn-off {
          color: #C51308;
          background-color: #FFF1F1;
          border-color: #FFF1F1;
          border-radius: 8px;
        }
      }
    }

    .btn-type {
      background-color: #4CA77B;
      border-color: #4CA77B;
      color: #ffffff;
      border-radius: 12px;
    }
  }

</style>
