<template>
  <div class="device">
    <div class="device-icon" v-bind:style="{ backgroundColor: data.bgColor}">
      <a-icon class="device-icon-image" :component="data.icon" v-bind:class="'color-' + data.color"/>
    </div>
    <div class="device-info">
      <p>{{data.title}}</p>
      <h1>{{data.value + data.postFix}}</h1>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      data: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
      }
    },
    computed: {

    },
    methods: {

    }
  };
</script>
<style lang="scss" scoped>
  .device {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    border-radius: 10px;
    padding: 24px;
    margin-right: 20px;

    &-icon {
      float: left;
      background-color: red;
      padding: 12px;
      border-radius: 8px;

      &-image{
        width: 20px;
        height: 20px;
        font-size: 18px;
        &.ic-log-out {
          /deep/ svg {
            padding-left: 1px;
          }
        }
      }
    }
    &-info {
      float: right;
      margin-left: 20px;

      p {
        margin: 0px;
        color: #868686;
        font-weight: normal;
        font-size: 14px;
      }

      h1 {
        margin: 0px 0px 0px 0px;
        color: #5F5F5F;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .color-FF5C00 {
      /deep/ path {
        fill: #FF5C00;
      }
    }

    .color-1890FF {
      /deep/ path {
        fill: #1890FF;
      }
    }

    .color-2D7D57 {
      /deep/ path {
        fill: #2D7D57;
      }
    }

    .color-F8C100 {
      /deep/ path {
        fill: #F8C100;
      }
    }

    .color-B720A8 {
      /deep/ path {
        fill: #B720A8;
      }
    }
  }
</style>
