<template>
  <div class="device">
    <value-input title="Nhiệt độ" v-model="temperature"/>
    <value-input title="Độ ẩm không khí" v-model="moisture"/>
    <value-input title="Độ ẩm đất" v-model="soilmoisture"/>
    <value-input title="Cường độ sáng" v-model="light"/>
    <a-button class="btn-set" @click="onButtonSetAutoClick">ĐẶT</a-button>
  </div>
</template>

<script>

  import ValueInput from "./ValueInput";

  export default {

    data() {
      return {
        temperature: 0,
        moisture: 0,
        soilmoisture: 0,
        light: 0
      }
    },
    components: {
      ValueInput,
    },
    computed: {},
    methods: {
      onButtonSetAutoClick() {
        const data = {
          temperature: this.temperature,
          moisture: this.moisture,
          soilmoisture: this.soilmoisture,
          light: this.light
        };
        this.$emit('on-set', data);
      },
    }
  };
</script>
<style lang="scss" scoped>
  .btn-set {
    margin-left: 30px;
    padding: 6px 30px;
    font-weight: bold;
    color: #2D7D57;
    background-color: #EBFAF3;
    border-color: #2D7D57;
    border-radius: 10px;
  }
</style>
