<template>
  <div class="value-input">
    <p>{{title}}</p>
    <a-input @change="onChange"/>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: () => ''
      }
    },
    data() {
      return {
      }
    },
    computed: {

    },
    methods: {
      onChange(e) {
        this.$emit('input', e.data);
      }
    }
  };
</script>
<style lang="scss" scoped>
  .value-input {
    display: inline-block;

    p {
      float: left;
      margin: 5px 10px 0px 0px;
    }

    a-input {
      border-radius: 10px;
    }
  }
  .ant-input {
    width: 40px;
    border-radius: 10px;
    margin: 0 8px 8px 0;
  }
</style>
