<template>
  <div class="back-navigator">
    <a-icon component="MyIconBack" class="icon-back" @click="onBack"/>
    <div class="back-navigator-menu">
      <router-link
        :to="{name: 'Explore'}"
        class="back-navigator-menu-item"
        v-bind:class="{active: isActive('Explore')}"
      >
        <a-icon component="MyIconHome" class="icon"/>
        <p>Home</p>
      </router-link>
      <router-link
        :to="{name: 'Library'}"
        class="back-navigator-menu-item"
        v-bind:class="{active: isActive('Library')}"
      >
        <a-icon component="MyIconBook" class="icon"/>
        <p>Library</p>
      </router-link>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import auth from '@/store/auth';

  export default {
    data() {
      return {};
    },
    computed: {
      ...mapGetters(auth.namespace, {
        user: auth.constants.GETTER_GET_USER,
      }),
      menus() {
        return this.$constants.MENUS;
      },
    },
    methods: {
      isActive(name) {
        return name === this.$route.name;
      },
      onBack() {
        this.$event.$emit(this.$constants.EVENT.ON_BACK_FROM_QUIZ, this.user.id);
      }
    }
  };
</script>
<style lang="scss" scoped>
  .back-navigator {
    background: #ffffff;
    padding: 2px 24px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 0px;
    width: 100%;

    .icon-back {
      font-size: 24px;
      margin-top: 16px;
    }

    &-menu {
      display: flex;
      &-item {
        padding: 4px 0;
        display: flex;
        cursor: pointer;
        flex-direction: column;

        &:first-child {
          margin-right: 8px;
        }
        &:last-child {
          margin-left: 8px;
        }

        .icon {
          font-size: 16px;
          margin-top: 6px;
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #868686;
          margin-top: 4px;
          margin-bottom: 0px;
        }

        &:hover,
        &.active {
          border-bottom: 2px solid #1890FF;

          .icon {
            /deep/ svg {
              path {
                fill: #1890FF;
              }
            }
          }

          p {
            color: #1890FF;
          }
        }

      }
    }
  }
</style>
