<template>
  <div class="sidebar">
    <a-icon component="MyIconClose" class="ic-close" @click="onHideSidebar" v-if="isMobile"/>

    <div class="sidebar-menu">
      <router-link
        :to="menu.url"
        class="sidebar-menu-item"
        v-bind:class="{active: isActive(menu)}"
        v-for="menu in menus"
        :key="menu.key"
      >
        <a-icon :component="menu.icon" class="icon"/>
        <p>
          {{ menu.title }}
        </p>
      </router-link>
    </div>
  </div>
</template>

<script>
  import layout from '@/store/layout';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {};
    },
    computed: {
      ...mapGetters(layout.namespace, {
        isMobile: layout.constants.GETTER_IS_MOBILE,
      }),
      menus() {
        return this.$constants.MENUS;
      },
    },
    methods: {
      ...mapActions(layout.namespace, {
        hideMenu: layout.constants.ACTION_HIDE_MENU,
      }),
      isActive(menu) {
        return menu.name === this.$route.name;
      },
      onHideSidebar() {
        this.hideMenu();
      },
    }
  };
</script>
<style lang="scss" scoped>
  .sidebar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    background: white;
    height: 100%;
    min-height: calc(100vh - 100px);
    z-index: 50;
    width: 100%;

    .ic-close {
      font-size: 20px;
      position: absolute;
      right: 15px;
      top: 15px;
    }

    &-user {
      text-align: center;
      padding-top: 25px;
      margin: 0 26px;

      img {
        object-fit: cover;
        object-position: center;
      }

      &-name {
        margin-top: 14px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        font-style: normal;
        color: #3E3E3E;
      }
    }

    &-menu {

      &-item {
        display: flex;
        padding: 6px 0;
        cursor: pointer;

        .icon {
          margin-left: 26px;
          font-size: 18px;
          margin-top: 6px;
          &.ic-log-out {
            /deep/ svg {
              padding-left: 1px;
            }
          }
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          color: #868686;
          margin: 0 10px;
        }

        &:hover,
        &.active {
          background: #E6F7FF;
          box-shadow: inset -3px 0px 0px #2D7D57;
          border-right: 2px solid #2D7D57;

          .icon {
            /deep/ svg {
              path {
                fill: #2D7D57;
              }
            }
          }

          p {
            color: #2D7D57;
          }
        }

      }
    }
  }
</style>
