<template>
  <div class="header" v-bind:class="{'is-mobile': isMobile, 'is-collapsed': !collapsed}">
    <a-icon component="MyIconMenu"
            class="ic-list"
            v-if="isMobile"
            @click="onToggleMenu"/>
    <div class="logo">
      <a href="/">
        <img src="@/assets/images/logo.png"/>
      </a>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import layout from '@/store/layout';

  export default {
    computed: {
      ...mapGetters(layout.namespace, {
        isMobile: layout.constants.GETTER_IS_MOBILE,
        collapsed: layout.constants.GETTER_COLLAPSED
      }),
    },
    methods: {
      ...mapActions(layout.namespace, {
        toggleMenu: layout.constants.ACTION_TOGGLE_MENU,
      }),
      onToggleMenu() {
        this.toggleMenu();
      }
    }
  };
</script>

<style lang="scss" scoped>
  .header {
    padding: 21px 25px;
    background: #FFFFFF;
    position: relative;
    z-index: 100;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.04);

    .ic-list {
      font-size: 18px;
      position: absolute;
      left: 24px;
      top: 26px;
    }

    &.is-mobile {
      padding: 21px 25px;
      text-align: center;
    }

    &.is-collapsed {
      box-shadow: none;
    }

    .logo {
      display: inline-block;
      width: 115px;
      margin: 0;

      img {
        width: 100%;
        line-height: 0;
      }
    }
  }
</style>
