<template>
  <div id="page-main">
    <top-header/>
    <a-layout class="layout">
      <a-layout-sider collapsible
                      breakpoint="md"
                      :collapsedWidth="232"
                      :width="0"
                      :collapsed="collapsed"
                      :trigger="null"
                      theme="light"
                      v-bind:class="{ 'is-mobile': isMobile }"
                      class="sidebar-mobile">
        <sidebar v-if="collapsed"/>
      </a-layout-sider>
      <a-layout>
        <a-layout-sider :width="280"
                        :trigger="null"
                        theme="light"
                        v-bind:class="{ 'is-mobile': isMobile }"
                        class="sidebar-desktop"
                        v-if="!isMobile">
          <sidebar/>
        </a-layout-sider>
        <a-layout-content class="inner-layout">
          <div class="overlap" v-if="collapsed"></div>
          <router-view/>
        </a-layout-content>
      </a-layout>
    </a-layout>
  </div>
</template>

<script>
  import TopHeader from '@/components/layout/TopHeader';
  import Sidebar from '@/components/layout/Sidebar';
  import { mapGetters } from 'vuex';
  import layout from '@/store/layout';

  export default {
    components: {
      TopHeader,
      Sidebar
    },
    computed: {
      ...mapGetters(layout.namespace, {
        isMobile: layout.constants.GETTER_IS_MOBILE,
        collapsed: layout.constants.GETTER_COLLAPSED
      }),
    },
    methods: {
    },
    watch: {
    },
    mounted() {
    },
    created() {

    },
    destroyed() {
    }
  };
</script>
<style lang="scss" scoped>
  #page-main {
    height: 100%;
  }
  .layout {
    margin: auto;
    background-color: transparent;
    height: 100%;
  }
  .overlap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 50;
  }
  .sidebar-desktop {
    height: 100%;
    z-index: 99;
  }
  .sidebar-mobile {
    position: absolute;
    left: 0;
    z-index: 99;
    height: 100%;
  }
  .footer {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 390px;
    &.is-mobile {
      padding-left: 0;
    }
  }
</style>
