<template>
  <div class="page">
    <h3 class="page-title">Mái che</h3>
    <div class="container-table">
      <a-table :columns="columns" :data-source="data">
      </a-table>
    </div>
  </div>
</template>

<script>
  const columns = [
    {
      title: 'STT',
      dataIndex: 'key',
      key: 'key',
    },
    {
      title: 'Giá trị',
      dataIndex: 'value',
      key: 'value',
    },
    {
      title: 'Thời gian',
      dataIndex: 'time',
      key: 'time',
    },
  ];

  const data = [
    {
      key: '1',
      value: '60%',
      time: '23/05/2021  9:00AM',
    },
    {
      key: '2',
      value: '60%',
      time: '23/05/2021  9:00AM',
    },
    {
      key: '3',
      value: '60%',
      time: '23/05/2021  9:00AM',
    },
  ];

  export default {
    components: {
    },
    data() {
      return {
        data,
        columns,
      }
    },
    computed: {
    },
    methods: {

    },
    created() {
    }
  };
</script>
<style lang="scss" scoped>
  .page {
    padding: 22px;

    &-title {
      color: #5F5F5F;
    }

    .container-table {
      margin-top: 24px;
      background: #FFFFFF;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      overflow: hidden;
      border-radius: 14px;
      padding: 20px;
    }
  }
</style>
