<template>
  <div id="root-page" v-bind:class="{'is-mobile': isMobile}" @scroll="onScroll">
    <a-layout>
      <a-layout-sider collapsible
                      breakpoint="md"
                      :width="0"
                      :trigger="null"
                      :collapsed="isMobile"
                      @breakpoint="onBreakpointChanged">
      </a-layout-sider>
    </a-layout>
    <vue-topprogress ref="topProgress"></vue-topprogress>
    <a-config-provider :locale="viVN">
      <router-view/>
    </a-config-provider>
  </div>
</template>
<script>
  import viVN from 'ant-design-vue/es/locale/vi_VN';
  import { vueTopprogress } from 'vue-top-progress'
  import { mapGetters, mapActions } from 'vuex';
  import layout from '@/store/layout';

  export default {
    data() {
      return {
        viVN,
        ready: false
      };
    },
    components: {
      vueTopprogress
    },
    computed: {
      ...mapGetters(layout.namespace, {
        loading: layout.constants.GETTER_LOADING,
        isMobile: layout.constants.GETTER_IS_MOBILE
      }),
    },
    methods: {
      ...mapActions(layout.namespace, {
        setMobile: layout.constants.ACTION_SET_MOBILE
      }),
      onBreakpointChanged(broken) {
        this.setMobile(broken);
      },
      onScroll(el) {
        if((el.target.offsetHeight + el.target.scrollTop) >= el.target.scrollHeight) {
          this.$event.$emit(this.$constants.EVENT.ON_SCROLL_BOTTOM);
        }
      }
    },
    watch: {
      loading: function (newVal) {
        newVal ? this.$refs.topProgress.start() : this.$refs.topProgress.done();
      }
    },
    created() {
    }
  };
</script>
<style lang="scss">
  @import "assets/style";
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

  #root-page {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;

    &.is-mobile {
      background-color: #FAFAFA;
    }

  }
  .spinner {
    position: absolute;
    margin: 0;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }
</style>
