<template>
  <div class="image-wrapper">
    <div class="image" :title="alt" :style="{backgroundImage: `url(${src})`}"/>
  </div>
</template>
<script>

  export default {
    data() {
      return {
      };
    },
    props: {
      src: {
        type: String,
        default: ''
      },
      alt: {
        type: String,
        default: ''
      }
    },
  };
</script>
<style lang="scss" scoped>
  .image-wrapper {
    max-width: 100%;
    width: 180px;
    height: 100px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    padding: 4px;
  }
  .image {
    width: 100%;
    height: 100%;
    background-position: center;
  }
</style>
